{% extends 'header.html' %}

{% block mycontent %}

    <div class="container">
        <div class="row">
            <div class="col col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
            </div>
            <div class="col col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
                <style>
                    body{
                        background : linear-gradient(#2193b0,#6dd5ed);
                        background-size: 100vh;
                    }
                </style>
                <form action="add/" method="post">
                <table class="table table-borderless">
                    <center>
                    <h1 style="color: bllack;"> <marquee behavior="scroll" direction="left">ADD Flat</marquee></h1>
                    </center>
                    <tr>
                        <!-- "productname","discription","price","manufacturer","manufacturingdate","expirydate" -->

                        <td style="color: black;"><b>Building No.</b></td>
                        <td><input name="bulding_no" placeholder="Enter Building No." type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td style="color: black;"><b>Owner Name</b></td>
                        <td><input name="owner_name" placeholder="Enter Owner Name" type="text" class="form-control"></input></td>
                    </tr>
                    <tr>
                        <td style="color: black;"><b>Address</b></td>
                        <td><input name="address" placeholder="Enter Address" type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td style="color: black;"><b>Mob.</b></td>
                        <td><input name="mobile_no" placeholder="Enter Mob." type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td style="color: black;"><b>Adhar No.</b></td>
                        <td><input name="adhar_no" placeholder="Enter Adhar No." type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td style="color: black;"><b> Email ID </b></td>
                        <td><input name="emailid" placeholder="Enter Email ID" type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td style="color: black;"><b>Password</b> </td>
                        <td><input name="password" placeholder="Enter Password" type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td align="center"><button class="btn btn-success ">ADD</button></td>
                    </tr>
                </table>
            </form>
            </div>
               
                <div class="col col-2 col-sm-2 col-lg-2 col-xl-2 col-xxl-2">

                </div> 
            </div> 
    </div>   
{% endblock %}